<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page is being used for model Inference</h1>
    <form method="post" action="{{url_for("home")}}">
    <label for="years">Years of Experience</label>
    <input type="number" id="years" name="years" min="0" max="100">
    <input type="submit" value="Submit" name="action1"/>
</form>

</body>
</html>